html {
    background-color: rgba(1, 6, 29, 0.89);
    /* font-size: 2rem; */
    /* overflow-x: hidden; */
}

* {
    margin: 10px;
}

.head{
    display:flex;
    gap:700px;
}
header{
    display: flex;
}

header h1 {
    color: rgba(250, 71, 71, 0.89);

}
a {
    color: white;
    text-decoration: none;
}

nav {
    /* display: flex; */
    justify-content: flex-end;
    word-spacing: 10px;
}
.about{
    display: flex;
        padding: 20px;
        gap:250px;
       color: white;

}
.about p {
   display: flex;
}
.about h1{
    font-size: 50px;
}
.img1 {
 display: flex;
}
.details{
display: flex;
        gap:250px;
    padding: 20px;
}

.profile h3 {
    color: white;
    font-size: 20px;
}

i {
    color: rgba(250, 71, 71, 0.89);
    border: 2px solid rgba(250, 71, 71, 0.89);
    border-radius: 15px;
}
.img2 {
display: flex;
}
.details{
    display: flex;
}

.profile p,pre {
    color: white;
}

button:hover {
    background-color: white;
    color: black;
}
button {
    display: flex;
   background-color:rgba(250, 71, 71, 0.89);
   color:white;
}
